In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [73]:
# Data Files
from panel import state

# csv path
state_data = "./usa_county_wise.csv"

#create dataframe
state_data_df = pd.read_csv(state_data)
state_data_df

state_data_df["Date"].max()

'7/9/20'

In [65]:
# drop unwanted columns
state_clean_df = state_data_df.drop(["UID", "iso2", "iso3", "code3", "FIPS", "Admin2", "Country_Region", "Lat", "Long_", "Combined_Key", "Date"], axis = 1)

# state_data_df["Province_State"].unique() - Used to find list of states

#states list for isin function
states = ['Alabama', 'Alaska', 'Arizona',
       'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
        'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming']

state_clean_df = state_clean_df[state_clean_df["Province_State"].isin(states)]

#print the dataframe
state_clean_df

# state_clean_df["Province_State"].unique() - Used to test states list filter works

       Province_State  Confirmed  Deaths
82            Alabama          0       0
83            Alabama          0       0
84            Alabama          0       0
85            Alabama          0       0
86            Alabama          0       0
...               ...        ...     ...
627915           Utah        347       1
627916           Utah         70       0
627917           Utah       2781      23
627918           Utah        142       0
627919           Utah       2375      24

[611188 rows x 3 columns]

In [69]:
# group the statistics by the sum of cases and deaths by state
state_clean2_df = state_clean_df.groupby(by = ["Province_State"]).sum()
state_clean2_df

                Confirmed   Deaths
Province_State
Alabama           2880805    73446
Alaska              85686     3999
Arizona           5272303   128478
Arkansas          1415802    19171
California       17618695   481757
Colorado          2860699   142506
Connecticut       4239220   374346
Delaware           962637    37494
Florida          12657802   292541
Georgia           6859759   222262
Hawaii              92930     2003
Idaho              565768    12980
Illinois         11900637   541672
Indiana           3792618   200183
Iowa              2231209    57245
Kansas            1188588    38359
Kentucky          1253913    46743
Louisiana         5383429   285084
Maine              257125     9256
Maryland          5393907   254828
Massachusetts     9874030   666157
Michigan          6690544   576093
Minnesota         2637428   107860
Mississippi       2124940    81848
Missouri          1842504    84491
Montana            102564     2265
Nebraska          1445593    18039
Nevada            1508128    45082
New Hampshire      471598    25438
New Jersey       16506714  1221339
New Mexico         949764    39170
New York         39808447  3176945
North Carolina    4573238   103531
North Dakota       290875    12743
Ohio              4275663   222951
Oklahoma          1106729    35470
Oregon             695008    18165
Pennsylvania      8096993   537261
Rhode Island      1457931       60
South Carolina    2656164    76249
South Dakota       539323    77572
Tennessee         3550017    47601
Texas            12698726   210547
Utah              1596769    14229
Vermont            120956     5812
Virginia          4778268   136648
Washington        2892060   124895
West Virginia      260095     9042
Wisconsin         2250614    62924
Wyoming            120404      212